{% extends 'template/base_template.html' %}

{% block content %}

<div class="flex justify-center space-x-4 pt-8">
    <a href="/play">
        <div class="bg-indigo-500 rounded-lg p-5 text-white">Jogar</div>
    </a>
    <a href="/words">
        <div class="bg-indigo-500 rounded-lg p-5 text-white">Menu de Palavras</div>
    </a>
    <a href="/editar">
        <div class="bg-indigo-500 rounded-lg p-5 text-white">Editar Conta</div>
    </a>
    <a href="/words">
        <div class="bg-indigo-500 rounded-lg p-5 text-white">Logout</div>
    </a>

</div>

{% endblock %}